<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <title>
        {%block title%}
        Base
        {%endblock%}
    </title>
</head>

<body>
    <!-- header menu navbar  -->
    <header>
        <nav class="navbar navbar-expand-lg p-4 mb-2 bg-body-secondary" aria-label="Thirteenth navbar example">
            <div class="container">
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarsExample11" aria-controls="navbarsExample11" aria-expanded="false"
                    aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse d-lg-flex" id="navbarsExample11">
                    <a class="navbar-brand col-lg-3 me-0" href="{% url 'home' %}">TestBlogSite</a>
                    <ul class="navbar-nav col-lg-6 justify-content-lg-center">
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'home' %}">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'blogpage' %}">Blogs</a>
                        </li>
                    </ul>
                    <ul class="navbar-nav col-lg-6 justify-content-lg-start">
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown"
                                aria-expanded="false">Welcome, User</a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="#">Edit Profile</a></li>
                                <li><a class="dropdown-item" href="#">Delete Profile</a></li>
                            </ul>
                        </li>
                        <li><button class="btn btn-primary ms-2">
                                Login
                            </button></li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <!-- main content section -->
    <section>
        {%block content%}
        <div class="container">
            <p>This is Sample text</p>
            <p> Lorem ipsum dolor, sit amet consectetur adipisicing elit. Natus, nam.</p>
        </div>
        {% endblock %}
    </section>
    <!-- This is footer part -->
    <footer class="p-4 mt-2 bg-body-secondary">
        <div class="text-center text-body-secondary">© 2023 TestBlogSite, Inc</div>
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
        crossorigin="anonymous"></script>
</body>

</html>