{% extends 'base_bootstrap.html' %}

{%block title%}
Login | BlogSite
{%endblock%}

{%block base_content%}

<div class="modal fade" id="onload" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content d-flex justify-content-center">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Login</h5>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <form method='POST'>
                        {% csrf_token %}
                        <!-- Bootstrap5 form component -->
                            <div class="mb-3">
                              <label for="exampleInputUsername1" class="form-label">Username</label>
                              <input type="text" class="form-control" id="exampleInputUsername1" aria-describedby="usernameHelp" name="username">
                              <div id="usernameHelp" class="form-text">We'll never share your data with anyone else.</div>
                            </div>
                            <div class="mb-3">
                              <label for="exampleInputPassword1" class="form-label">Password</label>
                              <input type="password" class="form-control" id="exampleInputPassword1" name="password">
                            </div>
                        <button type="submit" class="btn btn-primary">Login</button>
                    </form>
                </div>                
            </div>
            <div class="modal-footer">
                Not an user? <a href="{% url 'register' %}">Register</a> now
            </div>
        </div>
    </div>
</div> <!-- And the relavant closing div tag -->

<script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
<!-- modal test  -->
<script type="text/javascript">
    window.onload = () => {
        $('#onload').modal('show');
    }
</script>
{%endblock%}

